<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link href="/styles.css" rel="stylesheet" type="text/css" media="all">
  <title>Shoe-Buddy</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="transparent">
        <h1>Shoe Buddy</h1>
        <h3>Helping Shoes Stores and Brands find each other.</h3>
      </div>
    </div>
  </div>
</body>
</html>
