<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet" type="text/css" media="all">
  <title>Shoe-Buddy</title>
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron fill">
      <img class="img-responsive" src="/shoe.jpg">
      <div class="row">
        <div class="col-md-6" id="transparent">

          <h1 id="whitetxt">Shoe Buddy</h1>
          <h3>Stores</h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4" id="links">
          <a href="/" class="shoe-link"><h2>Go Home</h2></a>
          <br>
          <a href="/brands" class="shoe-link"><h2>View All Shoe Brands</h2></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
